@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
}

/* NAVBAR */

.contenedor {
    background-color: #85A389;
}

.contenedor__nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav__logo {
    width: 100px;
    padding: 5px;
}

img {
    width: 100%;
    height: 100%;
}

.nav {
    width: 700px;
}

.list {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;

}

.list__item {
    list-style: none;
    width: 100%;
    text-align: center;
    /* overflow: hidden; */
}

.list__item--click {
    cursor: pointer;
}

.list__button {
    display: block;
    justify-content: center;
    gap: 1em;
    width: 100%;
    margin: 0 auto;
}

.nav__link {
    color: #ebebeb;
    display: flex;
    justify-content: center;
    padding: 10px;
    text-decoration: none;
    margin: 0 auto;
}

.nav__link--inside {
    border-radius: 1px;
    border-color: #F1C27B;
}

.nav__link--inside:hover {
    background-color: #F1C27B;
}

.list__arrow {
    margin-left: auto;
}

.list__show {
    height: 100%;
    margin: auto;
    transition: height .4s;
    /* height: 0; */
}

.contenedor__carrito {
    display: flex;
    flex-direction: flex-end;

}

.carrito {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.carrito__img {
    width: 40px;
}

.circulo {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrito__numero {
    color: #85A389;
    font-weight: bolder;
}

/* ITEMCOUNT */

.boton__agregar {
  display: flex;
  gap: 10px;
}

.boton__imagen {
    background: none;

}

.agregar__carrito {
    background: none;
    background-color: #F1C27B;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;

}

/* ITEM */

.item__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 250px;
    padding: 25px;
    background-color: #F1C27B;
    border-radius: 10px;
}

.item__container img {
    width: 100%;
}

.item__info {
    display: block;
    justify-content: center;
    text-align: center;
    color: #ebebeb;
    font-size: 12px;
}

.item__nombre {
    padding: 8px;
}

.item__precio {
    padding: 8px;
}

.item__verdetalle {
    background: none;
    background-color: #85A389;
    color: #ebebeb;
    padding: 8px;
    border: none;
    border-radius: 5px;
}

.verdetalle__link {
    text-decoration: none;
    color: white;
}

.control {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 20px;
    font-weight: bolder;
}

.boton__imagen {
    width: 25px;
    height: 25px;
    border: none;
}

/* ITEMLIST */

.itemList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}

/*ITEMDETAILCONTAINER*/

.itemDetailContainer {
    display: flex;
    align-items: center;
    justify-content: center;

}

.itemDetail {
    display: flex; 
    align-items: center;
}

.itemDetail__imagen {
    width: 400px;
    padding: 25px;
}

.itemDetail__imagen img {
    width: 100%;
}

.itemDetail__info {
display: flex;

}

.info1 {
    font-size: 20px;
    font-weight:700;
    padding-bottom: 20px ;
}

.info2 {
    font-size: 12px;
    font-weight: 300;
    padding-bottom: 10px;
}

.info3 {
    padding-bottom: 20px;
}


/*ITEMDETAIL*/

.option {
    text-decoration: none;
    background: none;
    background-color: #F1C27B;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

/*CATEGORIAS*/

.categorias {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}

/* FOOTER */

footer {
    background-color: #85A389;
    display: flex;
    justify-content: center;
    text-align: center;
}

.footer__logo {
    width: 300px;

}

.footer__p {
    color: white;
    font-weight: bolder;
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: 'Roboto', sans-serif;
}